* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    background-color: yellow;
    border: 2px solid;
    margin: 40px auto;
    display: flex;
}

.item {
    background-color: cyan;
    width: 100px;
    height: 100px;
    margin: 5px;
    /* Default 0 */
    flex-grow: 1;
}

.item-3 {
    flex-grow: 2;
}