* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    height: 80vh;
    background-color: lightcoral;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 70px 2fr 2fr 1fr;
    /* row-gap: 20px; */
    /* column-gap: 5px; */
    gap: 20px 5px;
}

.item {
    background-color: lightskyblue;
    border: 1px solid;
    padding: 5px;
}