* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    background-color: yellow;
    margin: 50px auto;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: 150px;
    background-color: mediumseagreen;
    margin: 5px;
    flex-grow: 1;
}