* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: yellow;
    border: 2px solid;
    display: flex;
}

.container1 {
    /* Default */
    flex-wrap: nowrap;
}

.container2 {
    flex-wrap: wrap;
}

.container3 {
    flex-wrap: wrap-reverse;
}

.item {
    width: 500px;
    background-color: magenta;
    margin: 5px;
}