* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-height: 200px;
    background-color: yellow;
    border: 2px solid;
    display: flex;
}

.container1 {
    flex-flow: row nowrap;
}

.container2 {
    flex-flow: row wrap;
}

.container3 {
    max-height: 600px;
    flex-flow: column nowrap;
}

.container4 {
    flex-flow: column wrap;
}

.item {
    width: 500px;
    height: 50px;
    background-color: magenta;
    margin: 5px;
    padding: 5px;
}