.nav {
  display: flex;
  gap: 30px;
}

.link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  text-decoration: none;
}

.link.active {
  color: blue;
  font-weight: bold;
}
