* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
}

.box:nth-child(2n + 1) {
    background-color: chartreuse;
}

.box1 {
    /* Default */
    position: static;
}

.box2 {
    position: relative;
    top: 50px;
    left: 100px;
}

.box3 {
    position: absolute;
    top: 180px;
    left: 120px;
    width: 100%;
}

.box4 {
    position: fixed;
    top: 0;
    right: 0;
}

.box5 {
    position: sticky;
    top: 60px;
}