* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: yellow;
    border: 2px solid;
}

.container1 {
    display: block;
}

.container2 {
    display: flex;
}

.item {
    background-color: magenta;
    margin: 5px;
}