h1 {
    /* text-decoration-line: underline;
            text-decoration-color: red;
            text-decoration-style: double;
            text-decoration-thickness: 1px; */
    text-decoration: 1px double red underline;
    font-weight: 100;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: center;
    line-height: 30px;
    font-size: 26px;
}

.heading2 {
    text-transform: uppercase;
    font-weight: normal;
}

.heading2 span {
    font-weight: bolder;
    /* Using Google Fonts */
    font-family: "Montenegrin Gothic One", serif;
}