* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    background-color: lightcoral;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    background-color: lightskyblue;
    border: 1px solid;
    padding: 5px;
}

.item-1 {
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
    /* grid-row: 1 / 3; */
    grid-row: 1 / span 2;
}

.item-2 {
    /* grid-column-start: 2; */
    /* grid-column-end: 5; */
    /* grid-column: 2 / 5; */
    grid-column: 2 / span 3;
}

.item-3 {
    grid-area: 2 / 2 / span 2 / span 2;
}

.item-7 {
    grid-column: 2 / 4;
}

.item-8 {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}