.box {
    width: 100px;
    height: 100px;
    background-color: hotpink;
}

#box-1 {
    /* All directions */
    padding: 20px;
}

#box-2 {
    /* top-bottom left-right */
    padding: 20px 40px;
}

#box-3 {
    /* top left-right bottom */
    padding: 20px 40px 25px;
}

#box-4 {
    /* top right bottom left */
    padding: 20px 40px 25px 15px;
}