* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    background-color: lightcoral;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);

    /* Default - grid rows are filled first - new auto rows are generated */
    grid-auto-flow: row;

    /* Auto rows are generated */
    grid-auto-rows: 60px;

    grid-auto-flow: column;

    /* Auto columns are generated */
    grid-auto-columns: 90px;
}

.item {
    background-color: lightskyblue;
    border: 1px solid;
    padding: 5px;
}